@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-blue: #2466ff;
  --color-secondary-gray: #727272;
  --color-bodyBg: #f5f8fc
  --font-karla: "Karla", sans-serif;
}

body {
  background-color: #f5f8fc;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1760px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.sub_title{
  @apply text-2xl bg-gradient-to-r from-[#2466FF] to-[#FF32B4] font-medium bg-clip-text text-transparent
}